@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
	font-family:'Noto Sans KR', "Roboto Slab", Times New Roman, serif;
	font-size: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	background-color: whitesmoke;
	color: rgba(0, 0, 0, 0.90);
}

* {
	-webkit-tap-highlight-color:
		rgba(129, 179, 66, 0.1);
}

#footer {
    position: fixed;
    bottom: 3px;
    z-index: 10000;
    color: #fff;
    width: 100%;
    text-align: center;
    left: 0px;
    opacity: 0.5;
    font-size: 10px;
    font-weight: 200;
    font-family: arial;
}

#page-wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	left: 20px;
	top: 0px;
	right: 20px;
	margin: 0px auto;
	padding-top: 96px;
	transition: left 0.5s, top 0.5s,
		width 0.5s, padding-top 0.5s;
	-webkit-transition: left 0.5s, top 0.5s,
		width 0.5s, padding-top 0.5s;
	-moz-transition: left 0.5s, top 0.5s,
		width 0.5s, padding-top 0.5s;
	-o-transition: left 0.5s, top 0.5s,
		width 0.5s, padding-top 0.5s;
}

#nav {
	display: inline-block;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	align-items: center;
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 64px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px;
}
#nav #input {height:70px; max-height:70px; border:0px; border-bottom:1px solid #333;
	font-size:30px; color:#126bb4; font-weight:bold; width:calc(100% - 180px);
	line-height:70px; font-size:20px;}
#nav #input:focus {border:0px; border-bottom:1px solid #126bb4; box-shadow: 0 0 0 0 #fff;}
#nav * {
	vertical-align: middle;
}

#logo {
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	display: inline-block;
	font-size: 3.2em;
	font-weight: 600;
	margin-right: 12px;
	padding-bottom: 6px;
	max-width: 220px;
	color: inherit;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	transition: max-width 0.5s;
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	-o-transition: max-width 0.5s;
}

#logo::before {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-image: url("../icon/math_icon.png");
	background-repeat: no-repeat;
	background-size: cover;
	vertical-align: top;
	content: "";
}

#logo:active::before,
#logo:focus::before {
	animation: logo-hover 0.5s ease;
	-webkit-animation: logo-hover 0.5s ease;
	-moz-animation: logo-hover 0.5s ease;
}

#nav form {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	display: inline-block;
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	align-items: center;
	-webkit-align-items: center;
}

input[type='text'] {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 2.0em;
	background-color: transparent;
	padding: 0px 6px 3px;
	width: 240px;
	max-height: 28px;
	border: none;
	border-bottom: 1px solid lightgray;
	color: rgba(0, 0, 0, 0.7);
	box-shadow: inset 0px 0px 0px 0px
		rgb(203, 80, 39);
	outline: none;
}

input[type='text']:focus {
	border-bottom: 1px solid rgb(203, 80, 39);
	color: rgba(0, 0, 0, 0.9);
	box-shadow: inset 0px -1px 0px 0px
		rgb(203, 80, 39);
}

#nav button {
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	margin-left: 12px;
	border: none;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	line-height: 2.4em;
	text-shadow: 0px -1px 1px
		rgba(0, 0, 0, 0.5);
	background-color: rgb(0, 0, 0);
	outline: none;
	color: white;
	box-shadow: 0px 4px 4px 0px
		rgba(0, 0, 0, 0.2),
		0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	bottom: 0px;
	z-index: 30;
	transition: box-shadow 0.2s;
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
}

#nav button:active {
	box-shadow: 0px 8px 8px 0px
		rgba(0, 0, 0, 0.2),
		0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

#nav button i {
	font-size: 2em;
}

/* Homepage */

#homepage {
	position: relative;
	width: 100%;
	height: 180px;
	background-image: url("../icon/math_icon.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	margin-top:10%;
}
#homepage:before {content:"BotAmi Math"; 
	position:absolute; bottom:-50px; font-size:30px;  color:#333;
	text-align:center; width:100%;
	font-weight: bold;}

body.homepage #homepage {
	opacity: 1;
}

body.homepage #page-wrapper {
	top: calc(50% - 0px);
}

body.homepage.msie #page-wrapper,
body.homepage.edge #page-wrapper {
	top: 45%;
}

body.homepage #nav #logo {
	max-width: 0;
}

body.homepage #nav {
	/*position: relative;*/
}

#homepage-text {
	opacity: 0;
	max-height: 0;
	padding: 0 24px;
	font-size: 1.6em;
	text-align: center;
	transition: opacity 0.3s, max-height 0s linear 0.3s;
	-webkit-transition: opacity 0.3s, max-height 0s linear 0.3s;
	-moz-transition: opacity 0.3s, max-height 0s linear 0.3s;
	-o-transition: opacity 0.3s, max-height 0s linear 0.3s;
}

#homepage-text h2 {
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}

#homepage-text h2 span {
	font-size: 1.05em;
	font-weight: 600;
}

#homepage-text h3 {
	font-weight: 400;
}

#homepage-text code {
	display: inline-block;
	font-family: Roboto, Arial, sans-serif;
	padding: 3px 5px;
	margin: 0 1px 5px;
	background-color: rgba(0, 0, 0, 0.9);
	color: rgba(255, 255, 255, 0.95);
	cursor: pointer;
	transition: transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	-o-transition: -o-transform 0.2s;
}

#homepage-text code:nth-child(2n+1):hover {
	transform: rotate(3deg) scale(1.05);
	-webkit-transform: rotate(3deg) scale(1.05);
	-moz-transform: rotate(3deg) scale(1.05);
	-o-transform: rotate(3deg) scale(1.05);
}

#homepage-text code:nth-child(2n):hover {
	transform: rotate(-3deg) scale(1.05);
	-webkit-transform: rotate(-3deg) scale(1.05);
	-moz-transform: rotate(-3deg) scale(1.05);
	-o-transform: rotate(-3deg) scale(1.05);
}

body:not(.homepage) #homepage-text,
body:not(.homepage) #homepage-text code {
	cursor: default;
}

body.homepage #homepage-text {
	opacity: 1;
	max-height: 256px;
	padding: 0px;
	transition: opacity 0.5s, max-height 0.4s, padding-bottom 0.1s;
	-webkit-transition: opacity 0.5s, max-height 0.4s, padding-bottom 0.1s;
	-moz-transition: opacity 0.5s, max-height 0.4s, padding-bottom 0.1s;
	-o-transition: opacity 0.5s, max-height 0.4s, padding-bottom 0.1s;
	width:100%;
	font-size:15px;
	margin-top:20%;
}

body.homepage #homepage-text h2 {
	margin: 0 0 8px;
}

/* Rendering */

.equation.render,
.brackets.render {
	font-size: 16px;
	font-weight: 300;
}

.result-text {
	font-size: 2.4em;
	font-weight: 300;
}

.result-text > .fa {
	margin-right: 12px;
}

.error-result {
	font-size: 2.4em;
	font-weight: 300;
}

.error-result::before,
.error-result::after {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.error-result::before {
	margin-right: 12px;
	content: "\f071";
}

.render .expression-group,
.render .multiply-group,
.render .fraction-group,
.render .exponent-group,
.render .algebra-group,
.render .plus-minus-group,
.render .operation,
.render .brackets,
.render .number {
	display: inline-block;
}

.render .equals,
.card > .query-info > .equals {
	margin: 0em 0.3em;
	opacity: 0.5;
}

.render *:not(.radicand):not(.numerator):not(.denominator) > .parentheses:not(.exponent)::before,
.render .fraction.base::before {
	content: "(";
}

.render *:not(.radicand):not(.numerator):not(.denominator) > .parentheses:not(.exponent)::after,
.render .fraction.base::after {
	content: ")";
}

/* Cancel out parenthesis */
.render .fraction > * > .parentheses:only-child::before,
.render .fraction > * > .parentheses:only-child::after,
.render.equation > .right-side:not(.exponent-wrapper):not(.multiply-group) > .parentheses::before,
.render.equation > .right-side:not(.exponent-wrapper):not(.multiply-group) > .parentheses::after,
.render.equation > .left-side:not(.exponent-wrapper):not(.multiply-group) > .parentheses::before,
.render.equation > .left-side:not(.exponent-wrapper):not(.multiply-group) > .parentheses::after {
	content: "" !important;
}

.render .negative:not(.fraction):first-child::before,
.render .multiply-group > .negative:not(.fraction)::before,
.render .brackets > .negative::before,
.render .exponent.negative:not(.fraction)::before,
.render .fraction.negative > .numerator::before,
.render > .negative::before,
.render .denominator.negative::before {
	content: "-";
}

.render .negative > .negative:first-child::before,
.render .operation[data-operation="-"] + .fraction.negative > .numerator::before {
	content: "";
}

.render .fraction > * > .expression-group::before,
.render .fraction > * > .expression-group::after {
	content: "";
}

/* Show errors neatly */
.render * + * .number > i.fa,
.render .operation + .number > i.fa {
	margin-left: 6px;
}

.render .fraction.base {
	position: relative;
	padding: 0em 0.5em;
}

.render .fraction.base::before,
.render .fraction.base::after {
	position: absolute;
	top: calc(50% - 0.75em);
}

.render .fraction.base::before {
	left: 0.05em;
}

.render .fraction.base::after {
	right: 0.05em;
}

.render .highlighted {
	background-color: rgb(252, 234, 168);
}

.render .operation:not(
	.exponent-wrapper):not(
	.fraction) {
	padding: 0em 0.15em;
}

.render .operation + .plus-minus-group >
	.operation {
	padding-left: 0em !important;
}

.render .parentheses > .fraction:first-child,
.render .parentheses > *:first-child >
	.fraction:first-child {
	margin-left: 0.10em;
}

.render .parentheses > .fraction:last-child,
.render .parentheses > *:last-child >
	.fraction:last-child {
	margin-right: 0.10em;
}

.render .exponent {
	vertical-align: super;
	font-size: 0.7em;
}

.render .fraction:not(.exponent) {
	vertical-align: middle;
}

.render .fraction > * {
	display: block;
	font-size: 0.8em;
	text-align: center;
}

.render .fraction > .numerator {
	position: relative;
	border-bottom: 1px solid black;
	vertical-align: bottom;
}

.card.white .render .fraction > .denominator,
.card:not(.white) .render .fraction .fraction > .numerator {
	padding-top: 1px;
}

.card:not(.white) .render .fraction > .numerator {
	border-bottom-color:
		rgba(255, 255, 255, 0.9);
}

.card:not(.white) .render > .fraction > .numerator {
	border-width: 2px;
}

.card:not(.white) .render .fraction .fraction > .numerator {
	border-width: 1px;
}

.render .exponent.fraction {
	white-space: nowrap;
}

.render .exponent.fraction .numerator,
.render .exponent.fraction .denominator {
	display: inline-block;
	position: relative;
}

.render .exponent.fraction .numerator {
	top: -0.2em;
	border-bottom: none;
}

.render .exponent.fraction .numerator::after {
	position: absolute;
	left: 100%;
	bottom: -0.2em;
	display: block;
	width: 0;
	height: 100%;
	padding-left: 0.3em;
	border-right: 1px solid currentColor;
	transform: rotate(30deg);
	content: "";
}

.render .exponent.fraction .denominator {
	top: 0.4em;
	padding-left: 0.5em;
}

.render .operation[data-operation='-'
		]:first-child {
	padding-right: 0px;
}

.render .comma {
	opacity: 0.5;
	margin-right: 0.15em;
}

.render .brackets::before,
.render .brackets::after {
	opacity: 0.5;
}

.render .brackets::before {
	margin-right: 0.15em;
	content: "{";
}

.render .brackets::after {
	margin-left: 0.15em;
	content: "}";
}

.render .radical-wrapper {
	position: relative;
	padding-left: 0em !important;
	padding-right: 0.1725em !important;
	min-height: 20px;
	margin-top: 1px;
}

.render .radical-wrapper > .index {
	position: relative;
	top: -0.25em;
	display: inline-block;
	font-size: 0.5em;
	vertical-align: super;
}

.render .radicand > .radical {
	position: absolute;
	right: calc(100% + 0.2255em);
	bottom: 0px;
	display: inline-block;
	width: 1px;
	height: 50%;
	background-color: black;
	vertical-align: bottom;
	transform: skewX(30deg);
	-webkit-transform: skewX(30deg);
	-moz-transform: skewX(30deg);
	-o-transform: skewX(30deg);
}

.card:not(.white) .render .radicand > .radical {
	width: 2px;
}

.render .radical-wrapper > .radicand {
	position: relative;
	display: inline-block;
	margin-left: 6px;
	padding-left: 4px;
	border: 1px solid black;
	border-right-style: none;
	border-bottom-style: none;
	transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
}

.card:not(.white) .render .radical-wrapper > .radicand {
	border-width: 2px;
}

.render .radical-wrapper >
	.radicand:first-child {
	margin-left: calc(0.3980em + 1px);
}

.render .radical-wrapper:not(
	:first-child) {
	margin-left: 0.1em;
}

.render .radicand > * {
	transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	-moz-transform: skewX(15deg);
	-o-transform: skewX(15deg);
}
.outputBox {
	z-index: 30;
	position:absolute;
	width:100%;
	overflow:hidden;
	margin-top:20px;
	padding-bottom: 105px;
}
#calculator{
	position: absolute;
    right: 0px;
    top: 0px;
    background-color: #ccc;
    z-index: 1000;
	width:0px;
	height:0px;
	transition:all 0.3s ease;
	
}
#calculatorIn {opacity:0; margin-top:50px; opacity:0; margin-top:50px; height: calc(100% - 50px);
}
.calculatorBu {
	position: fixed;
    right: 30px;
    border-radius: 4px;
    padding: 4px 10px;
    background-color: #126bb4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
    display: block;
    top: 125px;
	display:none;
}
#calculator.start .calculatorBu {display:block;}
#calculator.on {width: 100%; left: 0px;}
#calculator.on #calculatorIn {opacity: 1; }
#output {}
	

#output:empty ~ #footer {
	font-size: 1.2em;
	opacity: 0;
}

#footer {
	padding: 0px;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 300;
	font-size: 10px;
	opacity: 1;
	color: rgba(0, 0, 0, 0.85);
	z-index: 0;
	transition: opacity 0.2s ease 0.8s;
	-webkit-transition: opacity 0.2s ease 0.8s;
	-moz-transition: opacity 0.2s ease 0.8s;
	-o-transition: opacity 0.2s ease 0.8s;
}

.out#output ~ #footer {
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
}

/* Animations */
@keyframes logo-hover {
	0%, 100% {
		transform: rotate(0deg) scale(1);
	}
	40% {
		transform: rotate(-20deg) scale(1.25);
	}
	60% {
		transform: rotate(15deg) scale(0.8);
	}
}

@-webkit-keyframes logo-hover {
	0%, 100% {
		-webkit-transform: rotate(0deg) scale(1);
	}
	40% {
		-webkit-transform: rotate(-20deg) scale(1.25);
	}
	60% {
		-webkit-transform: rotate(15deg) scale(0.8);
	}
}

@-moz-keyframes logo-hover {
	0%, 100% {
		-moz-transform: rotate(0deg) scale(1);
	}
	40% {
		-moz-transform: rotate(-20deg) scale(1.25);
	}
	60% {
		-moz-transform: rotate(15deg) scale(0.8);
	}
}

