.card {
	position: relative;
	margin: 12px 0px 0px;
	padding: 12px;
	border-radius: 1px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2),
		0px 0px 2px 0px rgba(0, 0, 0, 0.2);
	transition: margin-top 0.3s;
	-webkit-transition: margin-top 0.3s;
	-moz-transition: margin-top 0.3s;
	-o-transition: margin-top 0.3s;
	-webkit-animation: cards-in 0.5s;
	-moz-animation: cards-in 0.5s;
	animation: cards-in 0.5s;
}

body.msie .card {
	animation: -msie-cards-in 0.5s;
}

body.edge .card {
	animation: -edge-cards-in 0.5s;
}

.out#output .card {
	-webkit-transform: translate(-200vw, 20vh);
	-moz-transform: translate(-200vw, 20vh);
	transform: translate(-200vw, 20vh);
	-webkit-animation: cards-out 0.5s;
	-moz-animation: cards-out 0.5s;
	animation: cards-out 0.5s;
}

body.msie .out#output .card {
	animation: -msie-cards-out 0.5s;
}

.card.joined-bottom:not(.expanded) + .card.joined-top:not(.expanded),
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded),
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.card.joined-bottom.white:not(.expanded) + .card.joined-top:not(.expanded),
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded),
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module {
	border-top: 1px solid #E8E8E8;
}

.card.joined-bottom:not(.expanded) + .card.joined-top:not(.expanded)::before,
.card.joined-bottom:not(.expanded) + .card.joined-top:not(.expanded)::after,
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded)::before,
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module::before,
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded)::after,
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module::after {
	position: absolute;
	top: 0;
	display: block;
	width: 1px;
	height: 100%;
	content: "";
}

.card.joined-bottom:not(.expanded) + .card.joined-top:not(.expanded)::before,
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded)::before,
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module::before {
	left: -1px;
	box-shadow: 0px 0 4px -2px rgba(0, 0, 0, 0.2);
}

.card.joined-bottom:not(.expanded) + .card.joined-top:not(.expanded)::after,
.card.joined-bottom.reference-module + .card.joined-top:not(.expanded)::after,
.card.joined-bottom:not(.expanded) + .card.joined-top.reference-module::after {
	right: -1px;
	box-shadow: 0px 0 4px -2px rgba(0, 0, 0, 0.2);
}

.card.module > * {
	z-index: 20;
}

.card:not(.no-padding)[data-label] {
	padding-top: 36px;
}

.card.no-padding[data-label] {
	padding-top: 28px;
}

.card[data-label]::before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	padding: 6px 10px;
	margin-bottom: 12px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	font-family: "Roboto", Arial, sans-serif;
	font-size: 1.4em;
	content: attr(data-label);
}

.card.white[data-label]::before {
	background-color: transparent;
}

.card.no-padding {
	padding: 0px;
}

.card:not(.expanded) + .card.joined-top:not(.expanded) {
	margin-top: 0px;
	border-top: 0px;
}

.card.white {
	background-color: white;
	color: rgba(0, 0, 0, 0.85);
}

.card:not(.white) {
	color: rgba(255, 255, 255, 0.90);
}

.card.leaf {
	background-color: rgb(129, 179, 66);
}

.card.skin {
	background-color: rgb(203, 80, 39);
}

.card.suggestions {
	padding: 0px 6px;
}

.card > .render {
	display: inline-block;
}

.card:not(.white) > .render .radicand {
	border-color: rgba(255, 255, 255, 0.90);
}

.card:not(.white) > .render .radical {
	background-color: rgba(255, 255, 255, 0.90);
}

.card > .query-info {
	font-weight: 300;
	font-size: 2.0em;
}

.card > .query-info ~ .render {
	margin-left: 8px;
}

.card > .render ~ .query-info {
	margin-left: 8px;
}

.card > .query-info .render {
	display: inline-block;
}

.card > .query-info > .emphasis,
.card > .query-info > .equals {
	
}

.card > .hint {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 1.4em;
	font-weight: 300;
	position: relative;
	margin-top: 12px;
	top: 6px;
	opacity: 0.75;
}

.card > .hint > .fa {
	width: 20px;
	margin-right: 8px;
	text-align: center;
}

.module > .title,
.suggestion {
	display: block;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 2.0em;
	padding: 12px;
	cursor: pointer;
	transition: font-size 0.2s;
	-webkit-transition: font-size 0.2s;
	-moz-transition: font-size 0.2s;
	-o-transition: font-size 0.2s;
}

.suggestion {
	border-top: 1px solid #E8E8E8;
}

.module > .title {
	font-weight: bold;
}

.module.expanded > .title {
	font-size: 2.4em;
}

.module > .title::before,
.suggestion > .fa {
	padding-right: 8px;
}

.module > .title::before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	content: "\f161";
}

body:not(.mobile) .module:not(.expanded) >
	.title:hover {
	background-color: rgba(129, 179, 66, 0.1);
}

.module.expanded > .title::before {
	content: "\f00d";
}

.module-step,
.config-group {
	transition: padding 0.3s,
		max-height 0.3s, opacity 0.3s;
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.3s;
	-moz-transition: padding 0.3s,
		max-height 0.3s, opacity 0.3s;
	-o-transition: padding 0.3s,
		max-height 0.3s, opacity 0.3s;
}

.embedded-module {
	transition: padding 0.3s,
		max-height 0.3s, opacity 0.5s,
		bottom 0.5s;
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.5s,
		bottom 0.5s;
	-moz-transition: padding 0.3s,
		max-height 0.3s, opacity 0.5s,
		bottom 0.5s;
	-o-transition: padding 0.3s,
		max-height 0.3s, opacity 0.5s,
		bottom 0.5s;
}

.module-step {
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	align-items: center;
	-webkit-align-items: center;
	position: relative;
	border-top: 1px solid #E8E8E8;
	margin: 0px 6px;
	padding: 12px;
	font-size: 2.0em;
	max-height: 200px;
	overflow: hidden;
	opacity: 1;
}

.module:not(.expanded) > .module-step,
.module:not(.expanded) > .embedded-module,
.hidden.embedded-module > .module-step,
.config-module:not(.expanded) > .config-group {
	padding: 0px 12px;
	border-top: 0px;
	max-height: 0px;
	opacity: 0;
	transition: padding 0.3s,
		max-height 0.3s, opacity 0.2s;
	-webkit-transition: padding 0.3s,
		max-height 0.3s, opacity 0.2s;
	-moz-transition: padding 0.3s,
		max-height 0.3s, opacity 0.2s;
	-o-transition: padding 0.3s,
		max-height 0.3s, opacity 0.2s;
}

.reference-module > .module-step::before {
	display: inline-block;
	width: 20px;
	padding-right: 8px;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 20px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	vertical-align: middle;
	content: "\f175";
	transition: width 0.2s, color 0.2s;
	-webkit-transition: width 0.2s, color 0.2s;
	-moz-transition: width 0.2s, color 0.2s;
	-o-transition: width 0.2s, color 0.2s;
}

.expanded + .reference-module > .module-step::before {
	width: 50px;
	color: transparent;
}

.reference-module > .module-step {
	border-top: 0px;
}

:not(.expanded) + .reference-module {
	margin-top: 0;
}

.reference-module + :not(.expanded) {
	margin-top: 0;
}

:not(.reference-module) > .module-step::before {
	display: inline-block;
	padding-left: 6px;
	padding-right: 12px;
	color: rgb(129, 179, 66);
	font-size: 1.5em;
	min-width: 32px;
	content: attr(data-order);
}

.reference-module > .module-step {
	margin: 0;
}

.module-step > .content {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	display: inline-flex;
	display: -webkit-inline-flex;
	flex-flow: row nowrap;
	-webkit-flex-flow: row nowrap;
	align-items: center;
}

.module-step > .content > .title {
	flex: 1 1 auto;
	-webkit-flex: 1 1 auto;
	display: inline-block;
	text-align: left;
}

.module-step > .content > .title .render {
	display: inline-block;
}

.module-step > .content > .render {
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	font-size: 1.5em;
	font-weight: 300;
	text-align: right;
}

.module-step > .content > .render.right-side::before,
.module-step > .content > .render.left-side::after {
	opacity: 0.2;
	content: "=";
}

.module-step > .content > .render .equals {
	opacity: 0.2;
}

.module-step > .content > .render.right-side::before {
	padding-right: 6px;
}

.module-step > .content > .render.left-side::after {
	padding-left: 6px;
}

.hidden.embedded-module {
	/*background-color: whitesmoke;*/
	/*box-shadow: inset 0px -1px 0px 0px #E8E8E8,
		inset 0px 1px 0px 0px #E8E8E8;*/
	/*box-shadow: inset 0px 3px 2px -2px
		rgba(0, 0, 0, 0.1);*/
}

.embedded-module:not(.hidden) {
	/*box-shadow: inset -1px 0px 0px 0px #cb5027,
		inset 1px 0px 0px 0px #cb5027;*/
}

.embedded-module {
	margin: 0px 6px;
	padding-left: 0px;
	text-align: center;
}

.expanded > .hidden.embedded-module {
	position: relative;
	top: -20px;
	border-bottom: 1px solid #E8E8E8;
}

.expanded > .embedded-module::after {
	display: inline-block;
	position: relative;
	bottom: 6px;
	/*border-radius: 20px;*/
	height: 40px;
	padding: 0px 12px;
	line-height: 40px;
	font-size: 1.5em;
	/*background-color: rgb(129, 179, 66);*/
	background-color: white;
	color: #ccc;
	content: "감추기";
	transition: bottom 0.3s;
	-webkit-transition: bottom 0.3s;
	-moz-transition: bottom 0.3s;
	-o-transition: bottom 0.3s;
}

.expanded > .hidden.embedded-module::after {
	bottom: -20px;
	/*color: rgb(129, 179, 66);*/
	/*background-color: rgb(203, 80, 39);*/
	content: "더보기 " attr(data-count) " "; 
}

.expanded > .embedded-module:hover::after {
	color: rgb(129, 179, 66);
}

.embedded.module-step::before {
	color: rgb(203, 80, 39);
}

.embedded-module > .module-step {
	margin-left: 18px;
}

/*.embedded-module > .module-step:first-child,*/
.hidden.embedded-module + .module-step {
	border-top-color: transparent;
}

/* Config Modules */
.config-module * {
	-webkit-tap-highlight-color:
		rgba(203, 80, 39, 0.1);
}

.config-group {
	position: relative;
	border-top: 1px solid #E8E8E8;
	margin: 0px 6px;
	padding: 12px;
	font-size: 2.0em;
	max-height: 256px;
	overflow: hidden;
	opacity: 1;
}

.config-module > .title::before {
	content: "\f085";
}

/* Preferences */
.config-preference > .title {
	margin-bottom: 6px;
}

.config-preference > .description {
	font-size: 0.75em;
	margin-bottom: 12px;
}

.config-preference > .options {
	padding-left: 36px;
}

.config-preference .option {
	position: relative;
	padding: 18px 6px 18px;
	font-family: Roboto, Arial, sans-serif;
	font-size: 0.85em;
	font-weight: 500;
	border-top: 1px solid #E8E8E8;
	cursor: pointer;
}

.config-preference .option::before {
	position: absolute;
	left: -29px;
	top: 18px;
	display: block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 50%;
	border: 1px solid gray;
	/*font: normal normal normal 14px/1 FontAwesome;
	font-size: 0;
	text-align: center;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f111";*/
	content: "";
}

.config-preference .option::after {
	position: absolute;
	left: -26px;
	top: 21px;
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	/*background-color: rgb(129, 179, 66);*/
	background-color: rgb(203, 80, 39);
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transition: transform 0.1s;
	-webkit-transition: -webkit-transform 0.1s;
	-webkit-transition: -webkit-transform 0.1s;
	-moz-transition: -moz-transform 0.1s;
	-o-transition: -o-transform 0.1s;
	content: "";
}

.config-preference .option.selected::after {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}

.config-preference .option.selected::before {
	font-size: 14px;
}

.config-preference .option > .render {
	display: inline-block;
	float: right;
	font-family: "Roboto Slab", Times New Roman, serif;
	opacity: 0.6;
}

.config-preference .option > .render .fraction {
	position: relative;
	top: -0.4em;
}

/* Animations */
@keyframes cards-in {
	0% {
		transform: translate(-100vw, 30vh) scale(0);
	}
	25% {
		transform: translate(-75vw, 22vh) scale(0);
	}
	75% {
		transform: translate(1vw, -1vh) scale(1);	
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}

@-webkit-keyframes cards-in {
	0% {
		-webkit-transform: translate(-100vw, 30vh) scale(0);
	}
	25% {
		-webkit-transform: translate(-75vw, 22vh) scale(0);
	}
	75% {
		-webkit-transform: translate(1vw, -1vh) scale(1);	
	}
	100% {
		-webkit-transform: translate(0, 0) scale(1);
	}
}

@-moz-keyframes cards-in {
	0% {
		-moz-transform: translate(-100vw, 30vh) scale(0);
	}
	25% {
		-moz-transform: translate(-75vw, 22vh) scale(0);
	}
	75% {
		-moz-transform: translate(1vw, -1vh) scale(1);	
	}
	100% {
		-moz-transform: translate(0, 0) scale(1);
	}
}

@keyframes -msie-cards-in {
	0% {
		transform: translate(-1000px, 200px) scale(0);
	}
	25% {
		transform: translate(-750px, 150px) scale(0);
	}
	75% {
		transform: translate(2px, -1px) scale(1);	
	}
	90%, 100% {
		transform: translate(0, 0) scale(1);
	}
}

@keyframes -edge-cards-in {
	0% {
		transform: translate(-100vw, 30vh) scale(0);
	}
	25% {
		transform: translate(-75vw, 22vh) scale(0);
	}
	75% {
		transform: translate(1px, -0.5px) scale(1);	
	}
	100% {
		transform: translate(0, 0) scale(1);
	}
}

@keyframes cards-out {
	from {
		transform: translate(0, 0) scale(1);
	}
	to {
		transform: translate(-200vw, 20vh) scale(0);
	}
}

@-webkit-keyframes cards-out {
	from {
		-webkit-transform: translate(0, 0) scale(1);
	}
	to {
		-webkit-transform: translate(-200vw, 20vh) scale(0);
	}
}

@-moz-keyframes cards-out {
	from {
		-moz-transform: translate(0, 0) scale(1);
	}
	to {
		-moz-transform: translate(-200vw, 20vh) scale(0);
	}
}

@keyframes -msie-cards-out {
	from {
		transform: translate(0, 0) scale(1);
	}
	to {
		transform: translate(-2000px, 200px) scale(0);
	}
}

/* Small displays */
@media (max-width: 640px) {

.module-step {
	font-size: 1.8em;
}

.module-step::before {
	min-width: 24px;
}

.module-step > .content {
	flex-flow: column nowrap;
	-webkit-flex-flow: column nowrap;
	align-items: flex-start;
	-webkit-align-items: flex-start;
}

.module-step > .content > .title,
.module-step > .content > .render {
	text-align: left;
}

.module-step > .content > .title {
	padding-bottom: 4px;
}

.reference-module > .module-step > .content > .title {
	overflow: hidden;
	transiton: max-height 0.6s;
	-webkit-transiton: max-height 0.6s;
	-moz-transiton: max-height 0.6s;
	-o-transiton: max-height 0.6s;
}

.expanded + .reference-module > .module-step > .content > .title {
	max-height: 40px;
	transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
}

:not(.expanded) + .reference-module > .module-step > .content > .title {
	max-height: 0;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
}

}